<% layout("./layouts/boilerplate.ejs") -%>

<div class="show-container">
  <div class="show-img-container">
    <img src="<%= toy.image %>" alt="<%= toy.title %>" />
  </div>

  <div class="show-details">
    <span class="show-category"><%= toy.category %></span>
    <h1 class="show-title"><%= toy.title %></h1>

    <p class="show-desc"><%= toy.description %></p>

    <div class="show-price">
      &#8377; <%= toy.price.toLocaleString("en-IN") %>
    </div>

    <div class="show-actions">
      <form action="/toys/<%= toy._id %>/edit" method="GET" style="flex: 1">
        <button class="btn-action btn-edit">
          <i class="fa-solid fa-pen-to-square"></i> Edit
        </button>
      </form>

      <form
        action="/toys/<%= toy._id %>?_method=DELETE"
        method="POST"
        style="flex: 1"
      >
        <button class="btn-action btn-delete">
          <i class="fa-solid fa-trash"></i> Delete
        </button>
      </form>
    </div>
  </div>
<hr>
  <div class="review-form">
    <h4>Leave a review</h4>

    <form action="/toys/<%= toy._id %>/reviews" method="POST">
      <div>
        <label for="rating">Rating</label>
        <input type="range" name="review[rating]" id="rating" min="1" max="5">
      </div>

      <div>
        <label for="comment">Comment</label>
        <textarea name="review[comment]" id="comment" required></textarea>
      </div>

      <button>Submit</button>
    </form>

  </div>
    <hr>
  <div class="acutal-review">
      <% for(review of toy.reviews) { %>
        <div>
          <ul>
            <li><%= review.rating %>Stars</li>
            <li><%= review.comment %></li>
          </ul>
          <form action="/toys/<%= toy._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
          </form>
        </div>
      <% } %>
  </div>

</div>
